$white: #FFFFFF;
$black: #000000;
$gray: #484848;
$overlay-color: #2c2d33;
$green: #0496D2;

$red: #ee5f5b;
$blue: #19B5FE;
$yellow: #f89406;
$aqua: #7FDBFF;

$base-font: 'Poppins', sans-serif;
$code-font: "LiberationMonoRegular",monospace;
// break point
$small: 750px;
